# ezpack.config for Tiarra archive
# $Id$

OUTPUT=tiarra-${1}

SRCROOT=~/work/projects/tiarra/vendor/cvs/master
GLOBAL_EXCEPT=\.#.*
GLOBAL_EXCEPT=~$
EXEC=./makedoc | lv | cat

SRCFILE=LICENSE
SRCFILE=AUTHORS
SRCFILE=ChangeLog
SRCFILE=NEWS
SRCFILE=tiarra
SRCFILE=HACKING
SRCFILE=makedoc
SRCDIR=main;DESTDIR=main;EXCEPT=CVS
SRCDIR=module;DESTDIR=module;EXCEPT=CVS;EXCEPT=Defence.*;EXCEPT=BottleServer.*
SRCDIR=doc;DESTDIR=doc;EXCEPT=CVS
SRCDIR=doc-src;DESTDIR=doc-src;EXCEPT=CVS

